<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperCms.Lib.Properties.Settings.SuperCmsDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=SuperCmsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>