<?xml version="1.0"?>
<LabelSqlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LabelSqls>
    <LabelSqlInfoItem>
      <Name>SysAdmin查询</Name>
      <FileName>index_loop.sql</FileName>
      <CreateTime>2011-01-28T09:41:20.0848186+08:00</CreateTime>
      <LastUpdateTime>2011-01-28T09:41:20.0848186+08:00</LastUpdateTime>
    </LabelSqlInfoItem>
  </LabelSqls>
</LabelSqlInfo>