<?xml version="1.0"?>
<LabelTagInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LabelTags>
    <LabelTagInfoItem>
      <Name>绑定用户名列表模块</Name>
      <FileName>test_index.html</FileName>
      <CreateTime>2011-01-28T09:41:38.775096+08:00</CreateTime>
      <LastUpdateTime>2011-01-28T09:41:38.775096+08:00</LastUpdateTime>
    </LabelTagInfoItem>
  </LabelTags>
</LabelTagInfo>