<?xml version="1.0"?>
<TempletInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Templets>
    <TempletInfoItem>
      <Type>System</Type>
      <Name>动态模板测试</Name>
      <FileName>aspx.html</FileName>
      <OutputPath>/test/index.aspx</OutputPath>
      <Area>测试版块</Area>
      <TempletAttr>Aspx</TempletAttr>
      <CreateTime>2011-01-28T17:24:29.8770152+08:00</CreateTime>
      <LastUpdateTime>2011-01-28T17:24:29.8770152+08:00</LastUpdateTime>
    </TempletInfoItem>
    <TempletInfoItem>
      <Type>System</Type>
      <Name>静态模板测试</Name>
      <FileName>html.html</FileName>
      <OutputPath>/test/index.html</OutputPath>
      <Area>测试版块</Area>
      <TempletAttr>Html</TempletAttr>
      <CreateTime>2011-02-14T17:24:31.096554+08:00</CreateTime>
      <LastUpdateTime>2011-02-14T17:24:31.096554+08:00</LastUpdateTime>
    </TempletInfoItem>
    <TempletInfoItem>
      <Type>Common</Type>
      <Name>首页头部</Name>
      <FileName>_header.html</FileName>
      <OutputPath />
      <Area>测试版块</Area>
      <TempletAttr>Html</TempletAttr>
      <CreateTime>2011-01-28T17:22:31.5291816+08:00</CreateTime>
      <LastUpdateTime>2011-01-28T17:22:31.5291816+08:00</LastUpdateTime>
    </TempletInfoItem>
  </Templets>
</TempletInfo>